.carousel_container {

    .carousel {
        position: relative;
        overflow: hidden;
        width: 100%;
    
        .inner {
            white-space: nowrap;
            // transition: transform .4s ease-in-out;
        }

        .paginate_nav {
            width: 100%;

            .buttons {
                position: absolute;
                bottom: 40%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                // width: 100%;
                padding: .3em 0;
                align-items: center;
                padding: 2em 0;
                right: 80px;
                top: 0;

                button {
                    width: 10px;
                    height: 10px;
                    margin: .9em .6em;
                    border-radius: 50%;
                    background-color: var(--light);
                    border: 2px solid var(--dark-blue);
                    cursor: pointer;
                    transition: all .3s ease;
                    outline: 1px solid white;

                    &.active {
                        transform: scale(1.3);
                        outline: 3px solid white;
                    }
                }
            }

            .imgs {
                width: 100%;
                display: none;
                background-color: var(--dark);
                padding: .6em .1em;
                overflow-x: auto;

                .img {
                    .slide {
                        cursor: pointer;
                        width: 60px;
                        height: 60px;
                        margin: 0 .3em;
                        transition: all 1s ease;

                    }

                    &.active {
                        box-shadow: 0px 0px 0 3px rgb(255, 255, 255);
                    }
                }
            }
        }
    }
}

.slide {
    height: 100vh;
    display: inline-flex;
    position: relative;

    // clip-path: inset(0);
    // justify-content: center;
    // align-items: center;
    /* background: var(--main-bg); */
    // color:white;
}

.carousel_container .carousel>.buttons {
    transition: all .3s ease;
    opacity: 0;
    z-index: 9999;
}

.carousel_container .carousel:hover>.buttons {
    opacity: 1;
}

.carousel_container .carousel>.buttons>button {
    padding: 20px 14px;
    position: absolute;
    outline: 0;
    border: 0;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    opacity: .4;
    font-size: 2.9em;
    border-radius: .4rem;
    // color: rgb(10, 0, 0);
    color: rgb(122, 120, 120);
    // background-color: rgb(184, 184, 184);
    transition: all .2s linear;
}

.carousel_container .carousel>.buttons button:first-child {
    left: 5px;
}

.carousel_container .carousel>.buttons button:last-child {
    right: 5px;
}

.carousel_container.carousel>.buttons button:hover {
    opacity: .8;
}

.carousel_container .carousel>.buttons button:first-child:active {
    transform: translateX(10px) translateY(-50%);
    box-shadow: -10px 0px 0px 0px rgba(230, 227, 227, 0.808);
}

.carousel_container .carousel>.buttons button:last-child:active {
    transform: translateX(-10px) translateY(-50%);
    box-shadow: 10px 0px 0px 0px rgba(235, 230, 230, 0.877);
}

// button.active{
//     background-color: gray;
// }
.slide img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    // background-attachment: fixed;
    // background-position: center;
    // position: fixed;
    // bottom: 0;
    // top: 0;
}

@media screen and (max-width:680px) {
    .carousel_container {
        position: relative;

        .carousel {
            overflow: hidden;

            .inner {
                white-space: nowrap;
                transition: transform .4s ease-in-out;
            }

            .paginate-nav {
                right: -30px;
                bottom: 5%;
            }

        }
    }


    .slide {
        height: 50vh;
    }

    .carousel_container .buttons {
        display: none;
    }

    .images .slide {
        /* width: 100px; */
        /* height: 400px; */
    }

    .images button .slide {
        width: 30px;
        height: 30px;
        /* margin: auto; */
    }

    .images .slide img {
        object-fit: contain;
    }

    .images .buttons {
        display: none;
    }

}